/* Write your CSS here*/

.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.RR {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.team-matches-bg-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: 'Bree Serif';
}

.team-matches-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-match-head {
  color: white;
  font-size: 15px;
}

.team-banner-card {
  align-self: center;
  text-align: center;
}

.team-matches-img {
  width: 65%;
}

.team-matches-latest-card {
  width: 60%;
}

.team-matches-match-cards-card {
  width: 60%;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.loader-card2 {
  height: 100vh;
  display: flex;
  align-items: center;
}
